<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flair Detector</title>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<div class="bg-contact2" >
		<div class="container-contact2">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form" action="{{url_for('predict')}}" method="POST">
					<span class="contact2-form-title">
						Reddit Flair Detection
					</span>
					
					<div class="wrap-input2 validate-input" data-validate="URL is required">
						<input class="input2" type="text" name="link" id="link">
						<span class="focus-input2" data-placeholder="Enter URL for the post"></span>
					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" type="Submit">
								Detect
							</button>
						</div>
					</div>
					
					<div class="predict_text">
						PREDICTED- {{prediction}} 
						<br>
						
						TRUE- {{prediction1}}
					</div>
					
				</form>
				<br>
				<br>
				<br>
				<form class="contact2-form validate-form" action="{{url_for('automated_testing')}}" method="POST" enctype="multipart/form-data">
					
					<h4 align="center">Please select a .txt file you would like to upload.</h4>
					<br>
					<div class="wrap-input2 validate-input">
						<input class="input2" type="file" name="upload_file" id="upload_file">
						
					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" type="Submit">
								Submit
							</button>
						</div>
					</div>
				
				</form>
			</div>
		</div>
	</div>

</body>
</html>
